@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    text-align: center;
}

/* HEADER */

header {
    background: #f4f4f4;
    text-align: center;
    padding: 2em;
}

header img {
    max-width: 96px;
}

header h1 {
    font-size: 2.5em;
}

.green {
    color: #2ef789;
}

/* MAIN */

main {
    max-width: 960px;
    margin: 0 auto;
}

main h2 {
    margin : 2rem;
}

main ul li {
    list-style: none;
}

.red {
    color: #fc3232;
}

/* FORM */

label {
    display: block;
    margin-bottom: 0.5em;
}

.new-member-form {
    margin: 2em 0 4em 0;
    text-align: center;
}

/* MEMBER LIST */

.member-list {
    display: flex;
    justify-content: center;
}

main section table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 2rem 0.7rem;
}

.member-item {
    padding: 0.25em 0;
}

/* FOOTER */

footer {
    margin-top: 2em;
    text-align: center;
    color: #fff;
    background: #f76c6c;
    padding: 0.25em 0;
}